---
- name: Create Users
  hosts: localhost
  become: true
  vars:
     name: "ahmed_user"
  tasks:
    - name: Ensure that user Kerols exists
      become: true
      user:
        name: "{{ name }}"
        shell: /bin/bash
        groups: admin

    - name: Ensure /home/moustafa/test exist
      file:
        path: /home/{{ name }}/test
        state: directory
    - name: Ensure my name exist in the file x
      lineinfile:
        path: /home/{{ name }}/test/x
        create: true
        line: "Hello World!"
